.refresh > img {
    height: 20px;
    width: 20px;
    background-color: white;
}

.refresh {
    position: fixed;
    left: 95%;
    top: 10%;
    z-index: 100;
    outline: none;
    border: none;
    background: transparent
}

.ready-refresh {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    background: transparent
}

.ready-refresh > img {
    height: 40px;
    width: 40px;
    background-color: white;
}